<% provide(:title, 'Home') %>
<% provide(:body_class, 'full') %>
<% provide(:meta_tag_description, 'Collect environmental measurements in the Cloud') %>
<% provide(:meta_tag_keywords, 'sensor,temperature,soil,moisture,humidity,farming,agriculture,alerts,graphs,charts,wireless,aws,sqs,sns,queue,cloud,warehouse,routing,amazon,web services,http') %>
<div class="container" style="max-width: 800px">
  <div class="jumbotron">
    <h1>StreamMarker</h1>
    <p>Collect environmental measurements in the Cloud</p>
    <iframe src="https://ghbtns.com/github-btn.html?user=urlgrey&repo=streammarker&type=star&count=false&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="well">
        <h4>Wireless sensor network</h4>
        <p>StreamMarker wireless sensors automatically discover each other for zero-configuration deployment of limitless scale.</p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="well">
        <h4>Easy to Use</h4>
        <p>Simply create a StreamMarker account and add your relays. Readings from sensors in the vicinty of the relay will automatically show up in the StreamMarker Dashboard.  It's that simple!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="well">
        <h4>Realtime Readings</h4>
        <p>View readings in realtime through the StreamMarker Dashboard and export to CSV or Excel file formats for offline use.</p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="well">
        <h4>Valuable Environmental Data</h4>
        <p>Collect precise temperature &amp; moisture levels for the soil and air.</p>
      </div>
    </div>
  </div>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/x1ETmqNbFWw" frameborder="0" allowfullscreen></iframe>
  </div>
</div>