<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>A password reset has been requested for your StreamMarker account: <%= @user.email %>.</p>
    <p>Your temporary password is: <%= @new_password %></p>
    <p>You'll be required to change your password on your next login with the temporary password provided above.  To login to the site, just follow this link: <a href="<%= @url %>"><%= @url %></a>.</p>
    <p>Please don't hesitate to contact us if you have any questions,</p>
    <p>
      --<br>
      Scott Kidder, Founder of StreamMarker<br>
      E: support@streammarker.com<br>
      P: 510.735.7671<br>
      W: https://www.streammarker.com/
    </p>
  </body>
</html>