<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Your StreamMarker subscription has been updated to the following plan:<br>
      <ul><%= @subscription.plan.name %></ul>
    </p>
    <p>Thank you!</p>
    <p>
      --<br>
      Scott Kidder, Founder of StreamMarker<br>
      E: support@streammarker.com<br>
      P: 510.735.7671<br>
      W: https://www.streammarker.com/
    </p>
  </body>
</html>