<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello from StreamMarker!</h2>
    <p>
      There's just one step to validate your account.
    </p>
    <p>
    <a href="<%= @url %>" style="border:2px solid #2d4f15;border-radius:2px;color:#2d4f15;display:inline-block;min-width:245px;padding:.525em 1.5em;text-align:center;text-decoration:none" target="_blank">Validate Account</a>
    </p>
    <p>
      For real. That's it. Thanks!
    </p>
    <p>Thanks for joining and happy measuring!</p>
    <p>
      --<br>
      Scott Kidder, Founder of StreamMarker<br>
      E: support@streammarker.com<br>
      P: 510.735.7671<br>
      W: https://www.streammarker.com/
    </p>
  </body>
</html>